<h1 class ='center'>Pictures</h1>

<%@pictures.each do |picture|%>
  <div class="picture-wrapper large-2 columns">
    <a href="<% photo_path(photo) %>"><img src="<% photo.url %>"></a>
  </div>
<% end %>

<% content_for :right do %>
  <%= link_to "Add picture", new_picture_path, :class => 'small button small-rounded center' %>
<% end %>