<h1 class ='center'>Pictures</h1>
<div class="row">
<div class="large-12 large-center columns">
    <% @pictures.each do |picture|%>
      <div class="large-4 columns left thumbnail">
        <div class="picture-wrapper">
          <a href="<%= picture_path(picture) %>"><img src="<%= picture.url %>"></a>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% content_for :right do %>
  <div class="button-wrapper center">
    <%= link_to "Add picture", new_picture_path, :class => 'small button small-rounded center' %>
  </div>
<% end %>