body, html {
  height: 100%;
  background: black;
}

h1, h3 {
  color: white;
}

.main {
  height: 100%;
}

.container {
  background: black;
  height: 100%;
}

.center {
  text-align: center
}

.round-corners {
  border-radius: 5px;
}

.border {
  border-radius: 5px;
  border: 3px rgba(216, 213, 213, 0.11) solid;
}

.top-nav {
  margin: 0 5px;
  background-color: rgb(53, 53,53);
  top: 10px;
  border-radius: 5px;
  border: 2px rgba(216, 213, 213, 0.11) solid;
}

.right.large-3.columns {
  top: 50px;
  background: rgb(53, 53, 53);
  border-radius: 10px;
  padding: 37px;
  left: 20px;
}

.small-rounded {
  border-radius: 5px
}

.left.large-9.columns {
  top: 50px;
  background: rgb(53, 53, 53);
}

.left.large-9.columns{
  top: 50px;
  background: rgb(53,53,53);
  border-radius: 10px;
  padding: 25px;
}

.top-bar .name {
  color: white;
  margin-left: 20px;
  margin-top: 1px;
  height: 61px;
  font-size: 24px;
}
.row {
  height: 100%;
}
.margin {
  height: 100%;
  width: 100%;
}
.large-12.large-centered.columns {
  height: 100%;
}

.thumbnail {
  display: inline-block;
  float: left;
  overflow: hidden;
  height: 162px;
  padding: 10px;
  margin-bottom: 15px;
}
.row .row {
  width: auto;
}

img, object, embed {
  max-width: 111%;
}
@media only screen {
  .column, .columns {
    padding-right: 1em;
    padding-left: 1em;
  }
}

.show-image {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.form-wrapper {
  width: 300px;
}

.top-bar-section li a:not(.button):hover {
  background: rgb(53,53,53);
}

@media only screen and (min-width: 940px) {
  .top-bar-section li a:not(.button) {
    background: rgb(53,53,53);
    padding: 0 16px;
    height: 30px;
    color: rgb(197, 197, 197);
  }
}